doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.3/csshake-crazy.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nicomoji.css")
    link(rel="stylesheet" href="./main.css")
  body
    != yield