doctype
html
  head
    title ありがとう!!!!!
    meta(property="og:title" content="ありがとう!")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://arigatou.netlify.com/")
    meta(property="og:image:height" content="630")
    meta(property="og:image:width" content="1200")
    meta(property="og:image" content="https://arigatou.netlify.com/arigatou.png")
    meta(property="og:site_name" content="ありがとう!!!")
    meta(property="og:description" content="ありがとうを伝えるサイトです。何もありません。")
    meta(property="fb:app_id" content="584997605033320")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@hxdegawa1")
    meta(name="twitter:player" content="@hxdegawa1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.3/csshake-crazy.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nicomoji.css")
    link(rel="stylesheet" href="./main.css")
  body
    != yield